@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
.title {
  display:flex;
  align-items: center;
  font-family: 'Barriecito', cursive;
  font-size: 4em;
}
.flexContainer {
  display: flex;

}
